summary::webkit-details-marker {
    display: none;
  }
  
  summary {
    display: block;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Lato", sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
  }
  
  .center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
  }
  
  .filter-sort {
    height: 132px;
    padding-top: 39px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    gap: 30px;
  }
  
  .filter {
    padding-top: 13px;
    width: 360px;
    box-sizing: border-box;
    position: relative;
    z-index: 10;
  }
  .filter__content {
    background-color: #fff;
    padding: 0 16px 16px 16px;
  }
  .filter[open] {
    background: #FFFFFF;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  }
  .filter[open] .filter__heading {
    color: #F16D7F;
  }
  .filter[open] path {
    fill: #F16D7F;
  }
  .filter__summary {
    display: flex;
    align-items: center;
    gap: 11px;
    padding-left: 16px;
  }
  .filter__item {
    margin-top: 16px;
  }
  .filter__heading {
    color: #6F6E6E;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .filter__link-box {
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding: 24px 24px 16px 16px;
  }
  .filter__link {
    color: #6F6E6E;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .filter__link:hover {
    color: #F16D7F;
  }
  .filter__head {
    color: #6F6E6E;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 8px 11px 11px 11px;
    border-bottom: 1px solid #EBEBEB;
    border-left: 5px solid #F16D7F;
  }
  .filter__item[open] .filter__head {
    color: #F16D7F;
  }
  
  .sort {
    padding-top: 12px;
    display: flex;
    gap: 18px;
  }
  .sort__details {
    position: relative;
  }
  .sort__summary {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .sort__check {
    display: flex;
    gap: 9px;
    align-items: center;
    color: #6F6E6E;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .sort__heading {
    color: #6F6E6E;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .sort__box {
    position: absolute;
    top: 22px;
    left: -9px;
    background: #fff;
    box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
    padding: 7px 30px 11px 9px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 10;
  }
  
  .header {
    min-height: 75px;
    max-width: 1600px;
    background: #222222;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .header__left {
    display: flex;
    align-items: baseline;
    gap: 41px;
  }
  .header__right {
    display: flex;
    align-items: center;
    gap: 33px;
  }
  
  label {
    cursor: pointer;
  }
  
  #header__check {
    display: none;
  }
  
  #header__check:checked ~ .mobile-menu {
    display: none;
  }
  
  .mobile-menu {
    position: absolute;
    top: 75px;
    right: 20%;
    z-index: 2;
    transition: right 1s;
    background: #fff;
    padding: 32px 74px 32px 32px;
  }
  .mobile-menu__heading {
    color: #000;
    font-size: 14px;
    font-family: Lato;
    font-weight: 700;
  }
  .mobile-menu__title {
    display: block;
    margin: 24px 0 12px 0;
    color: #F16D7F;
    font-size: 14px;
    font-family: Lato;
  }
  .mobile-menu__list {
    padding-left: 20px;
    list-style: none;
    display: grid;
    gap: 11px;
  }
  .mobile-menu__list a {
    color: #6F6E6E;
    font-size: 14px;
    font-family: Lato;
  }
  
  .top-head {
    background-color: #F8F3F4;
    position: relative;
  }
  .top-head__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 148px;
  }
  .top-head__box h1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: #F16D7F;
  }
  .top-head__breadcrumbs {
    list-style-type: none;
    display: flex;
    gap: 10px;
    font-size: 14px;
    font-weight: 300;
    color: #636363;
  }
  .top-head__item:not(:last-child)::after {
    content: "/";
    padding: 0 5px;
    color: #636363;
  }
  .top-head__item:last-child {
    font-weight: bold;
  }
  .top-head__title {
    color: #636363;
  }
  .top-head__breadcrumbs a:hover {
    color: #F16D7F;
  }
  .top-head__title1 {
    color: #F16D7F;
  }
  
  .product-box__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #222222;
  }
  .product-box__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 6px;
    color: #9F9F9F;
  }
  .product-box__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    justify-content: center;
    gap: 30px;
  }
  .product-box__button {
    text-align: center;
    margin: 48.5px 0 0;
  }
  .product-box__button__text {
    padding: 14.5px 38.5px 13.5px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    background-color: white;
    border: 1px solid #FF6A6A;
    cursor: pointer;
  }
  .product-box__button__text:hover {
    color: white;
    background-color: #F16D7F;
    transition: 0.3s;
  }
  
  .product__picturebox {
    width: 100%;
    height: 420px;
    position: relative;
  }
  .product__picturebox__itemHover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(58, 56, 56, 0.86);
    z-index: 1;
    opacity: 0;
    cursor: pointer;
  }
  .product__picturebox__itemHover:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 100%;
  }
  .product__picturebox__buy-button {
    display: flex;
    align-items: center;
    gap: 11px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    padding: 13px;
    border: solid #FFFFFF 1px;
    background: transparent;
    cursor: pointer;
  }
  .product__picturebox__buy-button:hover {
    border-color: #E1E1E1;
    box-shadow: 0px 0px 10px #E1E1E1;
  }
  .product__picturebox__buy-button-img {
    width: 24px;
  }
  .product__picturebox__img {
    width: 100%;
    height: 100%;
    z-index: -2;
  }
  .product__content {
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    padding: 24px 16px;
  }
  .product__content__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
  }
  .product__content__text {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
  }
  .product__content__price {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
  }
  
  .breadcrumbs {
    display: flex;
    justify-content: center;
    padding-top: 48px;
  }
  .breadcrumbs__box {
    border: 1px solid rgb(235, 235, 235);
    border-radius: 5px;
    padding: 12px 15px;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .breadcrumbs__box svg {
    cursor: pointer;
  }
  .breadcrumbs__box svg:hover path {
    fill: #F16D7F;
  }
  .breadcrumbs__items {
    display: flex;
    gap: 20px;
  }
  .breadcrumbs__link {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: #C4C4C4;
  }
  .breadcrumbs__link:hover {
    color: #F16D7F;
  }
  
  .advantages {
    background: #222224;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    margin-top: 95px;
    padding-top: 104px;
    padding-bottom: 104px;
  }
  .advantages__item {
    display: grid;
    justify-items: center;
  }
  .advantages__item__heading {
    margin: 26px 0 16px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
  }
  .advantages__item__text {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
  }
  
  .subscription {
    min-height: 448px;
    background-size: cover;
    background-position: center;
    background-image: url(../images/fon.svg);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 223.26px;
  }
  .subscription__staff {
    text-align: center;
  }
  .subscription__staff__figure-text {
    margin-top: 30px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
  }
  .subscription__input-email {
    display: grid;
    justify-items: center;
  }
  .subscription__input-email__text {
    font-family: "Lato";
    font-style: normal;
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    margin-bottom: 32px;
  }
  .subscription__input-email__title {
    font-weight: 600;
    font-size: 24px;
  }
  .subscription__input-email__submit {
    display: flex;
  }
  .subscription__input-email__submit__subscribe {
    padding: 0 20px 0 20px;
    height: 49px;
    border-radius: 30px 0 0 30px;
    border: none;
    width: 256px;
    background: #E1E1E1;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    color: #222224;
    opacity: 0.67;
  }
  .subscription__input-email__submit__btn {
    border-radius: 0 30px 30px 0;
    border: none;
    width: 100px;
    background: #F16D7F;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
    cursor: pointer;
  }
  
  .footer {
    background: #222222;
    min-height: 79px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .footer__text {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
  }
  .footer__items {
    display: flex;
    gap: 7.29px;
  }
  .footer__items__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: white;
  }
  .footer__items__item:hover {
    background-color: #F16D7F;
  }
  .footer__items__item:hover path {
    fill: white;
  }/*# sourceMappingURL=style.css.map */